<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTmvDmlldbvf_4926Uj0-Be3G3uhp-hU8</string>
	<key>GCM_SENDER_ID</key>
	<string>227995726984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kitchensync</string>
	<key>PROJECT_ID</key>
	<string>kitchensync-z</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchensync-z.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227995726984:ios:dca14b54f0a1d5d4191b3d</string>
</dict>
</plist>